.bg-custom {
	background-image: url('../photo/bg1.JPG');
	color: white;
	border-radius: unset;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.bg-custom, .headWeb{
	padding-bottom: 7rem;
	padding-top: 7rem;
}